@use "../../variables/variables.scss";

.card {
    height: 400px;
    width: 300px;
    margin: 18px;
}

.card__border {
    border: 20px double variables.$border-color;
    background-clip: padding-box;
    background-color: variables.$card-background;
    width: 100%;
    height: 100%;
   
}

.card__heading {
    text-decoration: underline;
}


.card__img {
    width: auto;
    height: 28vh;
}
.card__tagline {
    font-weight: bold;
    font-style: italic;
}

