* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #19181A;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__card-render {
  background-color: #19181A;
}