* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #19181A;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section {
  display: flex;
  width: 100%;
  height: auto;
}

.sidebar{
  width: 20%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main__card-render {
  background-color: transparent;
  width: 80%;
  height: 100%;
}

.nav_container {
  font-weight: bold;
  width: 100%;
  height: auto;
  color: #cebc81;
}

.form{
  margin: 10px 0 0 0;
  font-weight: bold;
  width: 100%;
  height: auto;
  color: #cebc81;
}

@media screen and (max-width: 970px){
  
  .main__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .sidebar{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .main__card-render {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  
  .nav_filter {
    width: 100%;
  }
  
  .nav_container > div {
    display: flex;
    justify-content: space-around;
  }

}

@media screen and (max-width: 660px){

  .nav_container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}